import(KEGG.db)
import(KEGGSOAP)
importFrom("kernlab", "ksvm", "kernelMatrix", "alphaindex", "coef", "SVindex", "predict")
importFrom("AnnotationDbi", "mget", "ls")
importFrom("RBGL", "connectedComp")
importFrom("biomaRt", "useMart", "getBM", "listDatasets", "useDataset")
export(retrain, retrain.signaltrans, gene2pathway, gene2pathway.signaltrans, getComponents, get.elements.by.pathway, color.pathway.by.elements, ORF2Entrez, Entrez2ORF, test.overrepresentation)
